// main color of app
$main_color: #FEFEFE;

// app main components colors
$color_main_1: #101010;
$color_main_2: #bdc3c7;
$color_main_2_second: #ecf0f1;

// List Todos Colors
$color_main_3: #349D8A;
$color_main_4: #F4F8F8;
$color_main_5: #E9F1F0;

// Notifications color
$color_main_6: #FF9400;

// Tache or Todo colors
$todo: #eb4d4b;
$inProgress: #FF9400;
$complated: #2ecc71;

// Remove Color
$delete: #eb4d4b;
$delete_2: #ff79793b;

// dark mode colors
$main_dark_color: #18191A;
$dark_color: #242526;
$dark_color_2: #4E4F50;


// <---- shadow ---->

// sm
$shadow-sm : 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
